name: Daily Scraper

on:
  schedule:
    - cron: '50 0 * * *'
  workflow_dispatch:  # Optional: allows manual runs

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python -m playwright install chromium

    - name: Run Cap script
      env:
        GOOGLEAPI: ${{ secrets.GOOGLEAPI }}
        SHEET_ID: ${{ secrets.SHEET_ID }}
        PROXY_HTTP: ${{ secrets.PROXY_HTTP }}
      run: python cap.py

    - name: Run Reservoir script
      env:
        GOOGLEAPI: ${{ secrets.GOOGLEAPI }}
        SHEET_ID: ${{ secrets.SHEET_ID }}
        PROXY_HTTP: ${{ secrets.PROXY_HTTP }}
      run: python reservoir.py

    - name: Run Neutrl script
      env:
        GOOGLEAPI: ${{ secrets.GOOGLEAPI }}
        SHEET_ID: ${{ secrets.SHEET_ID }}
        PROXY_HTTP: ${{ secrets.PROXY_HTTP }}
      run: python neutrl.py
