name: Daily Scraper

on:
  schedule:
    - cron: '25 0 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python -m playwright install chromium

    - name: Run Cap script
      env:
        GOOGLEAPI: ${{ secrets.GOOGLEAPI }}
        SHEET_ID: ${{ secrets.SHEET_ID }}
        PROXY_HTTP: ${{ secrets.PROXY_HTTP }}
      run: python cap.py

    - name: Run Reservoir script
      env:
        GOOGLEAPI: ${{ secrets.GOOGLEAPI }}
        SHEET_ID: ${{ secrets.SHEET_ID }}
        PROXY_HTTP: ${{ secrets.PROXY_HTTP }}
      run: python reservoir.py

    - name: Run Neutrl script
      env:
        GOOGLEAPI: ${{ secrets.GOOGLEAPI }}
        SHEET_ID: ${{ secrets.SHEET_ID }}
        PROXY_HTTP: ${{ secrets.PROXY_HTTP }}
      run: python neutrl.py

    - name: Run Resolv script
      env:
        GOOGLEAPI: ${{ secrets.GOOGLEAPI }}
        SHEET_ID: ${{ secrets.SHEET_ID }}
        PROXY_HTTP: ${{ secrets.PROXY_HTTP }}
      run: python resolv.py

    - name: Run Strata script
      env:
        GOOGLEAPI: ${{ secrets.GOOGLEAPI }}
        SHEET_ID: ${{ secrets.SHEET_ID }}
        PROXY_HTTP: ${{ secrets.PROXY_HTTP }}
        Y_WALLET_ADD: ${{ secrets.Y_WALLET_ADD }}
      run: python strata.py

    - name: Run APY script
      env:
        GOOGLEAPI: ${{ secrets.GOOGLEAPI }}
        SHEET_ID: ${{ secrets.SHEET_ID }}
        PROXY_HTTP: ${{ secrets.PROXY_HTTP }}
        PROXY2_HTTP: ${{ secrets.PROXY2_HTTP }}
        TELEGRAM_KEY: ${{ secrets.TELEGRAM_KEY }}
        CHAT_ID: ${{ secrets.CHAT_ID }}
      run: python apy.py
